<a href="https://colab.research.google.com/github/stephyi/10Academy/blob/master/AfterWork_Essentials_Notebook_Data_Analysis_and_Reporting_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# Essentials Notebook: Data Analysis and Reporting with Python

## Pre-requisites

In [ ]:
# Pre-requisite 1
# ---
# Importing pandas library for data manipulation
# ---
# OUR CODE GOES BELOW
# 
import pandas as pd

In [ ]:
# Pre-requisite 2
# ---
# Importing numpy library for scientific computations
# ---
# OUR CODE GOES BELOW
# 
import numpy as np

## 1. Data Exploration

### Examples

In [ ]:
# Viewing top records of the dataset
# ---
# You have been given the following dataset on Ebola cases.
# Let's preview the first 10 rows.
# ---
# Dataset url = https://bit.ly/2T60DKG
# 
ebola_df = pd.read_csv('https://bit.ly/2T60DKG')
ebola_df.head(10)

In [ ]:
# Viewing last records of the dataset
# ---
# Preview the last 10 records of the ebola dataset
# ---
# 
last_ebola_df = ebola_df.tail(10)
last_ebola_df

In [ ]:
# Taking a sample
# ---
# Take a sample of the 5 records from the ebola dataset
# ---
# 
sample_ebola_df = ebola_df.sample(5)
sample_ebola_df

### <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# View the first 20 records of the given banknotes dataset 
# ---
# Dataset url = https://bit.ly/2yT9oAU
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 2
# ---
# View the last 5 records of the above banknotes dataset 
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 3
# ---
# Get a sample of 50 records from the above banknotes dataset 
# ---
# OUR CODE GOES BELOW
#

## 2. Selecting Columns I

### Examples

In [ ]:
# Selecting a Column
# ---
# Select the first 5 values of the Value column from the previously used ebola dataset
# ---
# 
ebola_df_value = ebola_df[['Value']]
ebola_df_value.head()

In [ ]:
# Selecting Multiple Columns I
# ---
# Select last 5 records from Country and Latitude column i.e. Lat, of the ebola dataset
# ---
#
ebola_df_country_lat = ebola_df[['Country', 'Lat']]
ebola_df_country_lat.tail()

# Method 2
# Uncomment the following lines
# ---
ebola_df_country_lat_method2 = ebola_df.iloc[:,[0, 3]]
ebola_df_country_lat_method2.tail()

In [ ]:
# Selecting Multiple Columns II
# ---
# Select last 5 records of the first 2 columns of the the ebola dataset
# ---
# 
ebola_df_country_bonus = ebola_df.iloc[:,0:2]
ebola_df_country_bonus.head()

### <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# Select the first 20 records of the Diagonal column in the given banknotes dataset.
# ---
# Dataset url = https://bit.ly/2yT9oAU
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 2
# ---
# Select a sample of 10 records from the Diagonal and conterfeit column using the banknotes dataset.
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 3
# ---
# In prepartion for data modeling, you're required to select last 5 colums of the banknotes dataset.
# Once you do so, preview the dataframe to check whether you've selected the columns correctly.
# ---
# OUR CODE GOES BELOW
#

## 3. Selecting Columns II

### Examples

In [ ]:
# Selecting Unique Values in a column
# --- 
# Let's select unique values from the Country column in the ebola dataset
# ---
# 
ebola_countries = ebola_df['Country'].unique() 

# We use the list() method to get a list else
# we would get an array.
# ---
#
list(ebola_countries)

In [ ]:
# Selecting Rows with Columns with certain values
# ---
# We will select all Liberia records
# 
liberia_records = ebola_df[ebola_df.Country.isin(['Liberia'])]
liberia_records

In [ ]:
# Selecting Records with Columns without certain values
# ---
# We will select all other records apart from the Liberia ones.
# Let's confirm our result by checking a sample of 10 records.
# ---
#
other_country_records = ebola_df[~ebola_df.Country.isin(['Liberia'])]
other_country_records.sample(15)

### <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# Select and preview the most similar banknotes length measurements?
# ---
# Dataset url = https://bit.ly/2yT9oAU
# ---
#

In [ ]:
# Challenge 2
# ---
# Select and preview the least similar banknotes diagonal measurements? 
# ---
#

In [ ]:
# Challenge 3
# ---
# How many banknotes had a left measurement and right measurement greater than 129?
# Get a sample of the records and later determine the no.
# Hint: Sample  Use len() to determine the no. of items.
# ---
#

## 4. Ranking / Sorting

### Examples

In [ ]:
# Sorting in Ascending / Descending Order 
# ---
# From the ebola dataset sort the Guinea records in descending order
# ---
# OUR CODE GOES BELOW
# 
guinea_records = ebola_df[ebola_df.Country.isin(['Guinea'])].sort_values(by='Value', ascending=1)
guinea_records.head()

In [ ]:
# Ranking in Ascending Order
# ---
# Create a new column that is the rank of the value of 'Value' in descending order
# ---
# 
ebola_df['Ranking'] = ebola_df['Value'].rank(ascending=0)
ebola_df.head()

### <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# From the ebola dataset, select the Mali records with more 
# than 100 cases and sort them in descending order. 
# ---
#

In [ ]:
# Challenge 2
# ---
# From the banknotes dataset, find out which records had the largest 
# diagonal length? In addition, rank them by left size.
# --- 
# Dataset url = https://bit.ly/2yT9oAU
# ---
#

## 5. Aggregate Functions

### Examples

In [ ]:
# Example 1
# ---
# Shape
# ---
# How many Liberian records do we have in our ebola dataset?
# ---
# (records, columns)
#
liberia_records = ebola_df[ebola_df.Country.isin(['Liberia'])]
liberia_records.shape

# (9 records, 7 columns)

In [ ]:
# Example 2
# ---
# Count() Function
# ---
# How many values do we have accoss our variables in our ebola dataset?
# ---
#
liberia_records = ebola_df[ebola_df.Country.isin(['Liberia'])]
liberia_records.count()

In [ ]:
# Example 3
# ---
# Unique Occurrences
# ---
# Were all records in our ebola dataset unique?
# ---
# 
ebola_df[ebola_df.duplicated()].shape

# Yes, there were no duplicate records

In [ ]:
# Example 4
# ---
# Sum
# ---
# How many ebola cases in Sierra Leone were reported given the ebola dataset?
# ---
# 
sierra_cases_sum = ebola_df[ebola_df.Country.isin(['Sierra Leone'])][['Value']].sum() 
sierra_cases_sum

In [ ]:
# Example 5
# ---
# Minimum
# ---
# Which record had the least no of ebola cases?
# ---
# 
least_cases = ebola_df.min()
least_cases

In [ ]:
# Maximum
# ---
# Which record had the highest no of ebola cases?
# ---
# 
highest_cases = ebola_df.max()
highest_cases

In [ ]:
# Mean
# ---
# What was the average number of ebola cases in Sierra Leone?
# ---
# 
sierra_cases_avg = ebola_df[ebola_df.Country.isin(['Sierra Leone'])][['Value']].mean() 
sierra_cases_avg

In [ ]:
# Mode
# ---
# What was the most frequent value in the Ebola dataset?
# ---
# 
frequent_values_df = ebola_df['Country'].mode() 
frequent_values_df

In [ ]:
# Median
# ---
# The median value of the Ebola cases.
# ---
# 
median_values_df = ebola_df['Value'].median() 
median_values_df

In [ ]:
# Summary Statistics
# ---
# Create a descriptive statistics table of the given ebola dataset 
# in preparation for further analysis.
# ---
# 
ebola_df.describe()

### <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# How many records can be found in the following insurance dataset?
# ---
# Insurance Dataset url = https://bit.ly/2y5CRYc
# ---
# This dataset contains anonymised patient data.
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 2
# ---
# Are there any duplicates in the insurance dataset?
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 3
# ---
# Which regions did the patients come from?
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 4
# ---
# What was the highest bmi recorded for patients from northwest and southwest regions?
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 5
# ---
# What was the youngest age of a patient?
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 6
# ---
# What was the average bmi recorded for patients above 50 years old?
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 7
# ---
# How much was spent collectively by male and female patients?
# ---
# OUR CODE GOES BELOW
#

## 6. Grouping

### Examples

In [ ]:
# Let's first load and preview the dataset that we will need for our examples 
# ---
#
insurance_df = pd.read_csv('https://bit.ly/2y5CRYc')
insurance_df.head()

In [ ]:
# Example 1
# ---
# The groupby() function is used to split the data into groups based on some criteria.
# ---
# We will start by grouping by a single column and including an aggregate function as shown.
# ---
# NB: We will not store any our dataframe in a variable for ease of
# performing computations
# ---
#
insurance_df.groupby('region').mean()

In [ ]:
# Example 2
# ---
# We can get the first entry for each gender by doing the following
# ---
# NB: You can also get the last one too using last()
# ---
# 
insurance_df.groupby('sex').first()

In [ ]:
# Example 3
# ---
# We can group a single column by another column then apply an aggregate function as shown
# ---
# 
insurance_df['expenses'].groupby([insurance_df['sex']]).sum()

# Method 2
# ---
# NB: The groupby output will have an index or multi-index on rows corresponding 
# to our chosen grouping variables. To avoid setting this index, 
# we pass “as_index = False” to the groupby operation
# ---
# insurance_df.groupby('sex', as_index = False)['expenses'].sum()

In [ ]:
# Example 4
# ---
# We can group the region column by another column i.e. bmi then apply an aggregate function
# as shown
# ---
#
insurance_df['bmi'].groupby([insurance_df['region']]).mean()

# Method 2
# ---
# insurance_df.groupby('region', as_index = False)['bmi'].mean()

In [ ]:
# Example 5
# ---
# We can create a summary statistical table as shown below
# ---
insurance_df['expenses'].groupby([insurance_df['region']]).describe()

# Method 2
# ---
# insurance_df.groupby('region', as_index = False)['expenses'].describe()

In [ ]:
# Example 6
# ---
# Further seeing how we can group a column by another column as shown 
# 
insurance_df['children'].groupby([insurance_df['region']]).sum()

# Method 2
# ---
#
# insurance_df.groupby('region', as_index = False)['children'].sum()

In [ ]:
# Example 7
# ---
# Applying multiple aggregate functions after grouping a column by another column
# ---
# 
insurance_df['expenses'].groupby([insurance_df['region']]).agg([min, max, sum])

# Method 2
# insurance_df.groupby(['region'], as_index = False).agg({'expenses': [min, max, sum] })

In [ ]:
# Example 8
# ---
# We can also apply multiple aggregate functions after grouping a column by another column
# ---
# 
insurance_df.groupby(['region', 'sex'], as_index = False).agg({'expenses': [min, max, sum] })

In [ ]:
# Example 9
# ---
# Grouping by of multiple columns and then applying an aggregate function
# ---
# 
insurance_df['expenses'].groupby([insurance_df['region'], insurance_df['sex']]).sum()

# Method 2
# ---
# insurance_df.groupby(['region', 'sex'], as_index = False)['expenses'].sum()

# Method 3
# ---
# insurance_df.groupby(['region', 'sex']).agg({'expenses': ['sum']})

### <font color="green">Challenges</font>

In [ ]:
# Let's load and preview the dataset that we will use for the given challenges.
# ---
# The dataset contains customer invoice data.
# ---
# Dataset url = https://bit.ly/SuperMarketSalesDB
# ---
#

In [ ]:
# Challenge 1
# ---
# Question: What was the average tax per city?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 2
# ---
# Question: How much did female members from the city of Yagon spend?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 3
# ---
# Question: How much was spent across all cities?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 4
# ---
# Question: What was the sum of goods sold across all branches?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 5
# ---
# Question: Which branches collected the most amount of money? 
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 6
# ---
# Question: Which were the top rated branches?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 7
# ---
# Question: Make a comparison between non-members who made cash payments and credit card payments.
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 8
# ---
# Question: Show the products line that sold the most indicating the rating.
# ---
# OUR CODE GOES BELOW 
#

## 7. Pivot Tables

### Examples

In [ ]:
# Example 1
# ---
# A pivot tables is a summary table and comprises of 
# outcomes similar to the group by tables.
# --- 
# We will start working with pivot tables by getting one column 
# and applying an aggregate function as shown below
# ---
# 
pd.pivot_table(insurance_df, index=['region'], aggfunc='mean')

In [ ]:
# Example 2
# ---
# Getting the first entry for each gender
# NB: You can get the last one too using last().
# In addition, note the that the columns have been arranged alphabetically.
# ---
# 
pd.pivot_table(insurance_df, index=['sex'], aggfunc='first')

In [ ]:
# Example 3
# ---
# We can group a single column by another column then apply an aggregate function as shown
# ---
# We will use numpy to compute the mean
#
pd.pivot_table(insurance_df, index=['sex'], aggfunc={'expenses': np.mean})

In [ ]:
# Example 4
# ---
# Grouping region by another column i.e. bmi, applying an aggregate function
# ---
#
pd.pivot_table(insurance_df, index=['region'], aggfunc={'bmi': np.mean})

In [ ]:
# Example 5
# ---
# Using a pivote table, we can also create a summary statistical table as shown below
# ---
#
pd.pivot_table(insurance_df, index=['region'], aggfunc={'expenses': 'describe'})

In [ ]:
# Example 6
# ---
# Getting the no. of children in each region
# ---
#  
# 
pd.pivot_table(insurance_df, index=['region'], aggfunc={'children': sum})

In [ ]:
# Example 6
# ---
# Applying multiple aggregate functions to a group
# ---
# 
pd.pivot_table(insurance_df, index=['region', 'sex'], aggfunc={'expenses': [min, max, sum]})

In [ ]:
# Example 7
# ---
# Applying multiple aggregate functions to a group
# ---
# 
pd.pivot_table(insurance_df, index=['region', 'sex'], aggfunc={'expenses': sum})

### <font color="green">Challenges</font>

The challenges in this section will be same as the ones group by challenges. Compare your solutions with the ones you got in the previous section.

In [ ]:
# You will use the supermarket dataset you previously used. 
# ---
# The dataset contains customer invoice data.
# ---
# Dataset url = https://bit.ly/SuperMarketSalesDB
# ---
#

In [ ]:
# Challenge 1
# ---
# Question: What was the average tax per city?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 2
# ---
# Question: How much did female members from the city of Yagon spend?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 3
# ---
# Question: How much was spent across all cities?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 4
# ---
# Question: What was the sum of goods sold across all branches?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 5
# ---
# Question: Which branches collected the most amount of money? 
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 6
# ---
# Question: Which were the top rated branches?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 7
# ---
# Question: Make a comparison between non-members who made cash payments and credit card payments.
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 8
# ---
# Question: Show the products line that sold the most indicating the rating.
# ---
# OUR CODE GOES BELOW 
#