<a href="https://colab.research.google.com/github/stephyi/10Academy/blob/master/Data_Analysis_and_Reporting_with_Python_Guiding_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Data Analysis and Reporting with Python - Guiding Notebook

## 1. Defining the Question

### a) Specifying the Data Analysis Question

Our task is to come up with schools Jane can apply to which include the following criteria:
- is in an urban/metropolitan area
- is in a city that ranks 75th percentile or higher on Kauffman's startup rankings
- be below 50th percentile in overall crime
- offer a 2-year or 4-year degree in Information Technology/Science

### b) Defining the Metric for Success

We will have accomplished our objective if we get at least one school matching all the above-mentioned criteria.

### c) Understanding the Context

While applying for university, foreign student populations could greatly benefit from data and resources to support their wellbeing and success. Such students and families often lack information that is necessary to distinguish between their school options, access
services, and identify affordable housing near the high-quality school and in safe neighbourhoods that have access to transit and employment.

Jane is a 20-year-old high school graduate from Nigeria. She has recently completed her high school education and has decided to pursue a degree in Management Systems and Information Technology in the United States.

She has approached your university recruiting agency and has tasked you to help her search for the best school for her. She is willing to relocate anywhere in the continental United States, but she has a few criteria that her ideal schools must satisfy:
- safety (low crime)
- urban : Jane wants to live the big city life
- start-ups : the schol should be in a metropolitan area that ranks highly in entrepreneurialism (she plans to find an internship at a startup while she studies.

### d) Recording the Experimental Design

1. Load libraries and datasets.
2. Select the most appropriate variables to work with.
3. Find and deal with duplicated data.
4. Find and deal with missing values.
5. Drop data that does not match criteria, e.g., schools with "distance only" programs.
6. Merge the dataframe on crimes to the dataframe with the college data based on location (city and state).
7. Filter and select the schools with total crime rate below the 50th percentile.
8. Filter and select the schools found only in Metropolitan State Areas.
9. Filter and search for schools located in the 75th percentile or higher on the Kauffman Start-Up Index.
10. Filter and select the schools that offer a 2-year or 4-year degree in Information Technology/Science.

### e) Data Relevance

The given data sets were relevant in answering the research question.

## 2. Data Cleaning & Analysis

In [ ]:
# Loading the required libraries

# Loading pandas
YOUR CODE GOES HERE

# Loading numpy
YOUR CODE GOES HERE

# To preview all rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
# Connecting to Google drive to access data
# We now load our dataset files to colab
# There are many ways to do this...
# You can use your method or alternatively do the 
# following if you have your files in google drive.
# ---
#

from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Setting the data access locations in Google drive

# Setting our college scorecard dataset url
data_set_url = '/content/drive/My Drive/Datascience/exercises-data-wrangling-exercise-1/CollegeScorecard.csv'

# Setting our college scorecard dictionary url
college_score_card_dictionary_url = '/content/drive/My Drive/Datascience/exercises-data-wrangling-exercise-1/CollegeScorecardDataDictionary-09-12-2015.csv'

# Setting our crime dataset url
crime_2015_url = '/content/drive/My Drive/Datascience/exercises-data-wrangling-exercise-1/Crime_2015.csv'

# Setting our startup dataset url
kauffman_startup_index_url = '/content/drive/My Drive/Datascience/exercises-data-wrangling-exercise-1/KaufmanIndexData/2017_Startup_Index_final.csv'

In [ ]:
# Loading our college scorecard dataset
df = pd.read_csv(data_set_url)

# Loading our college scorecard dictionary
df_college_score_card_dictionary = pd.read_csv(college_score_card_dictionary_url)

# Loading our crime dataset
df_crime_2015 = pd.read_csv(crime_2015_url, thousands=",")

# Loading our startup dataset
df_kauffman_startup_index = pd.read_csv(kauffman_startup_index_url)

In [ ]:
# Previewing the first 5 records

YOUR CODE GOES HERE

In [ ]:
# Getting our dataset shape

YOUR CODE GOES HERE

In [ ]:
# Looking for duplicates
df.duplicated().sum()

In [ ]:
# Checking the shape of the crime dataset

YOUR CODE GOES HERE

In [ ]:
# Previewing the first 5 records of the crime dataset

YOUR CODE GOES HERE

In [ ]:
# Looking for null values in the crime dataset

YOUR CODE GOES HERE

In [ ]:
# A closer inspection of the observations with the missing 'City' values
df_crime_2015[df_crime_2015['City'].isnull()]

From the college scorecard and crimes datasets, the common columns that will help us join these two dataframes are the CITY/STABBR columns in the college scorecard dataframes and the City/State columns in the crimes dataset. However, the City column in the crimes dataframe has some missing values so we have to fix this first before attempting a merger of the two dataframes

In [ ]:
# Fix null city values in crimes Dataframe
# The appropriate city name can be deduced from the MSA Column
# of each row entry among the rows having missing city names
for index, row in df_crime_2015.iterrows():
  if pd.isnull(row['City']):
    df_crime_2015.loc[index, 'City'] = row['MSA'].split(',')[0]

In [ ]:
# Confirming that 'City' does not have any missing values

YOUR CODE GOES HERE

In [ ]:
# Checking the 'City' variable for duplicates
df_crime_2015['City'].duplicated().sum()

In [ ]:
# Removing duplicated rows from the crimes Dataframe

YOUR CODE GOES HERE

In [ ]:
# Previewing the Kauffman Startup Index dataset

YOUR CODE GOES HERE

In [ ]:
# Selecting the important variables for Jane
columns = [
           'INSTNM',
           'sch_deg',
           'main',
           'CURROPER',
           'LONGITUDE',
           'LATITUDE',
           'CITY',
           'STABBR',
           'LOCALE',
           'HIGHDEG',
           'PREDDEG',
           'CONTROL',
           'faminc',
           'md_faminc',
           'faminc_ind',
           'RET_FT4',
           'RET_PT4',
           'RET_PT4',
           'RET_FTL4',
           'RET_PTL4',
           'COSTT4_A',
           'COSTT4_P',
           'TUITIONFEE_IN',
           'TUITIONFEE_OUT',
           'TUITIONFEE_PROG',
           'CIP10BACHL',
           'CIP11BACHL',
           'CIP14BACHL',
           'CIP15BACHL',
           'CIP10ASSOC',
           'CIP11ASSOC',
           'CIP14ASSOC',
           'CIP15ASSOC',
           'DISTANCEONLY',
           'PCIP10',
           'PCIP11',
           'PCIP14',
           'PCIP15',
           'TUITFTE',
           'INEXPFTE',
           'ADM_RATE',
           'ADM_RATE_ALL',
           'ACTCM25',
           'ACTCM75',
           'SAT_AVG_ALL',
           'NPT4_PUB',
           'NPT4_PRIV',
           'median_hh_inc',
           'C150_4',
           'C150_L4'
]

In [ ]:
# Creating a dataframe called df_filtered which takes the above-listed columns from the df dataset

df_filtered = pd.DataFrame(df[columns])

In [ ]:
# Previewing the first 5 records of the df_filtered dataset

YOUR CODE GOES HERE

In [ ]:
# Checking the shape of our new dataset

YOUR CODE GOES HERE

In [ ]:
# Checking the number of missing values

YOUR CODE GOES HERE

What have you observed? What do you intend to do?

In [ ]:
# Dropping columns with a hundred percent missing values

YOUR CODE GOES HERE

Jane wants to physically attend school in the United States and expereicence the big city life. Institutions that are regarded as distance only and which are not currently operating are therefore, out of the question for Jane and we have to exclude them from the Dataframe

In [ ]:
# Getting the distribution of the unique values in the 'DISTANCEONLY' column

YOUR CODE GOES HERE

In [ ]:
# Dropping all rows where DISTANCEONLY is set to 1 then drop the DISTANCEONLY column

YOUR CODE GOES HERE

In [ ]:
# Dropping all rows where CURROPER is set to 0 then drop the CURROPER column

YOUR CODE GOES HERE

In [ ]:
# Checking the dataset's shape

YOUR CODE GOES HERE

Before attempting a merger between the crimes dataframe and the college scorecard dataframe, we have to ensure that the city/state combinations across the two dataframes actually match. If a blind merger is done some entries in the college scorecard dataframe might end up having missing crime data probably because there was a typo in the way the city name was written in one of the datasets. To avoid this, we need the ability to determine if two city names refer to the same location.

In [ ]:
"""
First, we extract all cities in the college scorecard dataframe that do not have an 
exact 100% match in the crimes dataframe and save them in a list for later use.
"""
def find_cities_without_exact_matches(df1, df2):
  cities_without_match = []
  for index, row in df1.iterrows():
    if  row['CITY'] not in df2['City'].values:
      cities_without_match.append(f"{row['CITY']}, {row['STABBR']}")
  return cities_without_match    

cities_without_match = find_cities_without_exact_matches(df_filtered, df_crime_2015)

To detect possibly matching cities across the cities that we found have no matching names in the crimes dataframe, we enlist the fuzzywuzzy module which has functionaliy that allows one to determine the extent to which two words or sentences are similar

In [ ]:
! pip install fuzzywuzzy[speedup]

from fuzzywuzzy import process

#utility function to determine the extent to which two words are similar
def get_possible_matching_strings(input_list, search_against_list):
  original = []
  best_match = []
  probability = []
  similarities = {}
  for x in input_list:
    prediction = process.extractOne(x, search_against_list)
    original.append(x)
    best_match.append(prediction[0])
    probability.append(prediction[1])
  similarities['original'] = pd.Series(original)
  similarities['best_match'] =  pd.Series(best_match)
  similarities['probability'] = pd.Series(probability)
  return pd.DataFrame(similarities)

In [ ]:
# We prepare the search_against list which is among the inputs to the utility functions defined above
city_state_combinations_in_crimes = []

for index, row in df_crime_2015.iterrows():
  city_state_combinations_in_crimes.append(f"{row['City']}, {row['State']}")

In [ ]:
# We find cities that could possibly be referring to the same location

df_similar_cities = get_possible_matching_strings(cities_without_match, city_state_combinations_in_crimes)
df_similar_cities.reset_index(drop=True)

In [ ]:
# We check the shape of the new generated city similarities dataframe

YOUR CODE GOES HERE

In [ ]:
# We drop duplicates in the new generated city similarities dataframe

YOUR CODE GOES HERE

In [ ]:
"""
Rows with a probability match of 87 and above
are the ones that provide the most promising
matching city combinations from the crimes and 
college score board datasets
"""
df_most_promising_matches = df_similar_cities[df_similar_cities['probability'] >= 87].reset_index(drop=True)
df_most_promising_matches

In [ ]:
# Cities may have possibly matching names but yet be in
# different states meaning that they are not refering to the
# same location. we therefore, have to drop rows with mismatching states
for index, row in df_most_promising_matches.iterrows():
  if row['original'].split(",")[1] != row['best_match'].split(",")[1]:
    df_most_promising_matches.drop(index, inplace=True)

df_most_promising_matches.reset_index(drop=True)
df_most_promising_matches

We now have the most promising city/state matches yet. However, some matches are still wrong and we need a way of eliminating the dataframe. We cannot do a blind deletion based on the probability values as this would also remove rows that have "true" matches too. Some human intervention will be required for this.

In [ ]:
"""
The code below cycles through the rows of the dataframe with the most promising
city/state combinations and asks the user whether to drop or keep an entry with
a probability that is below 90%
"""

for index, row in df_most_promising_matches.iterrows():
  if row['probability'] < 90:
    action = input(f"({row['original']} : {row['best_match']}). Keep/Drop?")
    if action == 'Drop':
      df_most_promising_matches.drop(index, inplace=True)
    elif action == 'Keep':
      continue

In [ ]:
df_most_promising_matches.reset_index(drop=True)
df_most_promising_matches.head()

For each entry in df_most_promising, we have to find a matching CITY/STABBR 
combinaition in df_filtered and replace the CITY value with the value contained
in the best_match column of df_most promising. This will then allow us to merge the college scorecard 
dataframe with the crimes dataframe without loosing as much information as we would have lost if we had one a blind merger

In [ ]:
"""
We use a for loop to update city names in college scorecard dataframe
"""
for index, row in df_most_promising_matches.iterrows():
  split_result = row['original'].split(',')
  city = split_result[0].strip()
  state = split_result[1].strip()
  best_match = row['best_match'].split(',')[0]
  print(f"{city} : {state} : {best_match}")
  for index2, row2 in df_filtered.iterrows():
    if row2['CITY'] == city and row2['STABBR'] == state:
      df_filtered.loc[index2, 'CITY'] = best_match
      print(f"Updated {row2['CITY']} to {best_match}")

In [ ]:
# We now sample a record from the city of Columbus and from the state of Ohio

YOUR CODE GOES HERE

Finally, we can do a merger of the college scorecard and crimes dataframes. We are using an inner join for this because 
this will include colleges located in Metropolitan
State Areas with a record in the crimes dataframe. This allows 
us to filter the data by Metropolitan State Areas thus fullfilling
Janes requirement to experience the big city life. The assumption here 
is that by having a record in the crimes dataset, the specified location
is automatically a Metropolitan area as the crimes data was collected
and aggregated per Metropolitan State area.

In [ ]:
# Merging Crimes DataFrame with Schools DataFrame
# create a dataset called 'df_with_crime_data' where you merge the 'df_filtered' dataset with the
# 'df_crime_2015' dataset on 'CITY'/'City' and 'STABBR'/'State'
# preview the 'df_with_crime_data' dataset
# ---
#
df_with_crime_data = pd.merge(left=df_filtered, right=df_crime_2015, left_on=['CITY', 'STABBR'], right_on=['City', 'State'])
df_with_crime_data.head()

In [ ]:
# Dropping duplicate city/state columns introduced by dataframe merger

YOUR CODE GOES HERE

In [ ]:
# Checking the shape

YOUR CODE GOES HERE

In [ ]:
# Checking the number of missing values

YOUR CODE GOES HERE

The Kauffman Start-Up Index data has data depicting information about startup activity nationwide, per state and per Metropolitan State Area all jumbled up into one single dataset. We need to filter out all the noise and just remain with data containing information about startups for Metropolitan State Areas only as per Jane's requirements

In [ ]:
# Filtering Kauffman Start-Up data to remain with data for just the MSAs

df_kauffman_startup_index_filtered = df_kauffman_startup_index[
                                                               (df_kauffman_startup_index['Category'] == 'MSA')
                                                               ].reset_index(drop=True)
df_kauffman_startup_index_filtered.head()

In [ ]:
# Checking the shape

YOUR CODE GOES HERE

In [ ]:
# Previewing dataset info using info() method

YOUR CODE GOES HERE

The common columns between the Kauffman Start Up index data and our dataframe with crime data included are the location_name column in the kauffman dataframe and the MSA column introduced to our college scorecard dataframe by the merger with the crimes dataframe. Both these columns contain an entry for the name of the Metropolitan State Area for which the data was collected. From Kauffman data, we also have dataset that matches a Metropoliatan State Area code used to identify it and this code has been used as the value to the location column in the Kauffman start-up index. We can therefore merge the Kauffman dataframe with the new college scorecard dataframe using the MSA Code as value to use for the merger but we have to introduce this MSA Code to the college scorecard dataframe first.

In [ ]:
# Extracting the MSA names from the new college scorecard dataframe with crime data included
# ---
#
df_with_crime_data_msas = df_with_crime_data['MSA'].unique()

In [ ]:
# Loading the dataset containing MSA names and their matching codes as per Kauffman dataset
# NB: During this step, we can also use other
# ---
#
msa_codes_url = '/content/drive/My Drive/Datascience/exercises-data-wrangling-exercise-1/KaufmanIndexData/MSAcodes.csv'
df_msa_codes = pd.read_csv(msa_codes_url)

In [ ]:
# Previewing the 'df_msa_codes' dataset
YOUR CODE GOES HERE

In [ ]:
# Removing apostrophes (') in the MSA Name column
df_msa_codes['MSA Name'] = df_msa_codes['MSA Name'].apply(lambda row: row.strip("'"))

In [ ]:
# Previewing the 'df_msa_codes' dataset

YOUR CODE GOES HERE

In [ ]:
"""
We then use the utility function created earlier to find possibly matching MSA names
between the MSA column in our new college scorecard dataframe and the loaded MSA_name/code
dataframe as per Kauffman. Doing this will allow us to add MSA Codes to our college scorecard dataframe
that will then be used to merge the dataframe with the kauffman startup index dataframe.
"""
possibly_matching_MSAs = get_possible_matching_strings(df_with_crime_data_msas, df_msa_codes['MSA Name'])

In [ ]:
# Showing the output of 'possibly_matching_MSAs' / previewing

In [ ]:
"""
Load manually matched city MSA codes
---
The above match between df_with_crime_data_msas dataset and df_msas 
as per the kauffman index dataset results in possibly matching MSAs
but which have a low probability value for a match. This therefore requires 
manual intervention and as a result, a csv was created to specifically match
this MSAs. The created csv is the one being loaded below.
"""
manual_msa_codes_url = '/content/drive/My Drive/Datascience/exercises-data-wrangling-exercise-1/KaufmanIndexData/manually_matched_msa_codes.csv'
df_manual_msa_codes = pd.read_csv(manual_msa_codes_url)
df_manual_msa_codes

In [ ]:
final_possibly_matching_MSAs = pd.concat([possibly_matching_MSAs, df_manual_msa_codes], axis=0).reset_index(drop=True)

In [ ]:
final_possibly_matching_MSAs

In [ ]:
# Creating a column called 'MSA_Code' in the 'df_with_crime_data' and populate it with null values
# this will contain the MSA codes for each entry in the college scorecard dataframe with crime 
# data included

df_with_crime_data['MSA_Code'] = np.nan

In [ ]:
"""
Anything with a probability greater than 90
can be safely assumed to be an adequate match
we therefore include those MSA Codes to the 
df_with_crime_data without furthher inspection
"""
for index, row in final_possibly_matching_MSAs.iterrows():
  if row['probability'] >=90:
    code = df_msa_codes.loc[df_msa_codes['MSA Name'] == row['best_match'], 'MSA Code'].iloc[0]
    if row['original'] in df_with_crime_data['MSA'].values:
      df_with_crime_data.loc[df_with_crime_data['MSA'] == row['original'], 'MSA_Code'] = code

In [ ]:
# Previewing a sample of 10 records from the 'df_with_crime_data' dataset

YOUR CODE GOES HERE

In [ ]:
# Checking the sum of missing values

YOUR CODE GOES HERE

In [ ]:
# Getting records whose 'MSA_Code' is equal to 47260

YOUR CODE GOES HERE

In [ ]:
# Filtering the Kauffman Startup Index dataset to show values with MSA as their Caregory and of Metro Profile dataset 
df_kauffman_startup_index_filtered_by_msa = df_kauffman_startup_index[(df_kauffman_startup_index['Category'] == 'MSA') &
                                                                      (df_kauffman_startup_index['dataset'] == 'Metro Profile')]
df_kauffman_startup_index_filtered_by_msa

In [ ]:
df_kauffman_startup_index_filtered_by_msa.dtypes

The rows in the Kauffman Start Up index contain entries across a range of years, some entries go back to the 1980s. This past information wont be of much help as we are assuming that Jane's concern is current status of start-up activity in the MSAs within which the universities/colleges we are to propose to her reside. We will therefore select only the latest record for each MSA in the Kauffman start-up index and use the 'Index Year' column as the filtering column.

In [ ]:
"""
Group by location name and extract the row with latest Index year
"""
df_kauffman_startup_index_filtered_by_latest_index_year = df_kauffman_startup_index_filtered_by_msa.iloc[
                                               df_kauffman_startup_index_filtered_by_msa.reset_index(drop=True).groupby(['Location_name'])['Index Year'].idxmax()
                                               ]

In [ ]:
df_kauffman_startup_index_filtered_by_latest_index_year.head()

To match a college to a record on the kauffman startup index,
we will use the MSA_Code column in the df_with_crimes_dataset
and use a matching location value in the kauffman startup index dataset.

In [ ]:
"""
merge df_with_crime_data
with df_kauffman_startup_index
using the MSA_Code as the linking column
"""
final_df = pd.merge(left=df_with_crime_data, right=df_kauffman_startup_index_filtered_by_latest_index_year, left_on=['MSA_Code'], right_on=['Location'])

In [ ]:
# Previewing final_df

YOUR CODE GOES HERE

In [ ]:
# Checking the number of missing values in the final_df column

YOUR CODE GOES HERE

In [ ]:
# Checking shape

YOUR CODE GOES HERE

In [ ]:
# Dropping columns with 100% null values after merger
columns_to_drop = [
        'Composition_of_New_Entrp',
        'startup_index',
        'Breakdown',
        'Characteristic',
        'LONGITUDE', 
        'LATITUDE',        
]

# Dropping these columns from the final_df dataset using axis = 1 and inplace = True

YOUR CODE GOES HERE

In [ ]:
# Listing your the dataset's columns

YOUR CODE GOES HERE

As per Jane's requirements, She wants a college/University located in an MSA that ranks 75th percentile or higher on the Kauffman startup index.

In [ ]:
# Ranking based on Start Up 
# ---
#
YOUR CODE GOES HERE

In [ ]:
# Drop all rows with a Start up ranking below 0.75
# ---
#
final_df.drop(final_df[final_df['Ranking_Start_up'] < 0.75].index, inplace=True)

In [ ]:
# Print the minimum value of the 'Ranking_Start_up variable'

YOUR CODE GOES HERE

In [ ]:
# Preview final_df where the 'Ranking_Start_up' is equal to the maximum value in that column

YOUR CODE GOES HERE

To get a measure of the total crime per MSA, we then sum all crime and create a new column labeled Total_Crime that will contain this sum. We then rank the rows in the final df based on total crime and drop all rows with a ranking above 50% satisfying Jane's condition of a college/University in a location having below 50th percentile in overall crime.

In [ ]:
final_df['Total_Crime'] = final_df.apply(
    lambda row: row['ViolentCrime'] + row['Murder'] + row['Rape'] + row['Robbery'] + row['AggravatedAssault'] + row['PropertyCrime'] + row['Burglary'] + row['Theft'] + row['MotorVehicleTheft'],
    axis=1
    )

In [ ]:
# Preview the dataset

YOUR CODE GOES HERE

As

In [ ]:
# Get the maximum total crime rate

YOUR CODE GOES HERE

In [ ]:
# Sort by ranking
final_df['Ranking_by_Crime_Rate'] = final_df['Total_Crime'].rank(pct=True)

In [ ]:
# Preview the records where the 'Total_Crime' is at minimum

YOUR CODE GOES HERE

In [ ]:
# Drop all rows with above 50% overall crime ranking

YOUR CODE GOES HERE

In [ ]:
# Get the maximum 'Ranking_by_Crime_Rate' value

In [ ]:
final_df

In [ ]:
final_df.shape

Jane also wants a college/university offering a 2-year or 4-year degree in Information Technology/Science. courses related to Jane's required field of study are identified by CIP11[ASSOC, BACHL] columns. within this columns a value of 0 indicates that the courses in those categories are not offered at all, a value of 1 indicates the course is available and a value of 2 indicates that the course is available but only as a distance learning option. Since Jane wants to be physically attend a college/university and persue her field of study, we will discard all rows with a 0 and a 2 in the CIP11ASSOC, CIP11BACHL columns

In [ ]:
final_df.drop(final_df[final_df['CIP11ASSOC'] != 1.0].index, inplace=True)
final_df.drop(final_df[final_df['CIP11BACHL'] != 1.0].index, inplace=True)

In [ ]:
final_df.shape

In [ ]:
final_df

In [ ]:
final_df.isnull().sum()

Finally, to get the college/university that meets all of Jane's requirements and is also relatively cheap as compared to other universities/colleges that meet Jane's requirements, we then rank the final dataframe based on tuition fee

In [ ]:
# Ranking the final dataframe based on tuition fee
# ---
#

In [ ]:
# Select all records where the 'Rank_based_tuition_fee' is equal to 1, 2 and 3

YOUR CODE GOES HERE

### 3. Summary of Findings

What are your findings?